@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e7cc02;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #e4e415;
  padding-left: 12px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.records{
  font-size: x-small;
}
.rightside{
  width: 100%;
  margin-left:15% ;
}.rihtside {
  margin-left: 20%;
  width: 100%;
}
}
.records{
    margin-top: 4%;
    display: flex;
  //  text-align: center;
    width: 100% ;
    justify-content: right;
    align-items: center;
  //  flex-shrink: 1 ;
    gap: 20px ;
}
.records1{
   
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    //margin-top: -20%;
    width: 30%;
}
.img-champion{
    width: 100%;
    height: 100%;
    object-fit: fill;
    border-radius: 8% ;
    margin: 0 ;

}
.col-legend{
   // text-align: center;
    display: flex;
     justify-content: space-around;
    align-items: center;

}
.wons {
    width: auto;
    height: 50%;
    object-fit: contain;
    border-radius: 8% ;
  
}/*responsive*/
@media(max-width: 767px){
    .col-legend{
  flex-direction: column;
  }
  }
  @media(max-width: 574px){
    .col-legend{
        flex-direction: column;  }
        .records{
            flex-direction: column; 
             width: 100%;
        }
        .wons{
            width: 80%;
        }
  }
.rowins{
        
         margin-top: 1%;
    height: 3rem;
  //  background-color: aqua;
    border-radius: 0px 20px 20px  0px ;
   // border: 1 solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px ;
background-image: linear-gradient(8deg,#d0bc3d 19.1%,#ddff00 94.27%);
     color: gray;
}
h1{
  text-align: center;
  margin-top: 8% ;
}
.records1{
    flex-direction: column;
    margin-top: 4% ;
}
.rihtside{

    width: 50%;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.records{
  font-size: x-small;
}
.rightside{
  width: 100%;
  margin-left:15% ;
}.rihtside {
  margin-left: 20%;
  width: 100%;
}}
.veiwall{
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: 10%;
  //background: red;
  border: 1 solid black;
  justify-content: flex-end;
  align-items: center;

} 
/* CSS */
.button-60 {
  
  align-items: center;
  appearance: none;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: .375em;
  box-shadow: none;
  box-sizing: border-box;
  color: #363636;
  cursor: pointer;
  display: inline-flex;
  font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  line-height: 1.5;
  padding: calc(.5em - 1px) 1em;
  position: relative;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  margin-bottom: 20% ;
 
}
.veiwall a {
  margin-top: -0%; 
}
.button-60:active {
  border-color: #4a4a4a;
  outline: 0;
}

.button-60:focus {
  border-color: #485fc7;
  outline: 0;
}

.button-60:hover {
  border-color: #b5b5b5;
}

.button-60:focus:not(:active) {
  box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
} 
 

.accordion .accordion-item {
  border-bottom: 1px solid #e5e5e5;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #03b5d2;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #03b5d2;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #FFE81599;
  border: 1px solid #03b5d2;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #03b5d2;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}



