.image-container {
    display: flex;
    overflow-x: hidden;
}
.image-container img {
    height: 50%;
    width: 100%;
    flex-shrink: 0;
    /* margin-top: -10% ; */
}  
 
  
  * { 
      padding: 0; 
      margin: 0; 
      box-sizing: border-box;
  } 
  
 
  
  body { 
      overflow-x: hidden; 
     
     // padding-top: 107.11px; 
      background-color: #f8f6ff!important;
  } 
  
 
  
  @media (prefers-reduced-motion: no-preference){ 
    :root { 
      scroll-behavior: smooth;
    } 
  }     
  
  :root { 
      scroll-behavior: smooth; 
  } 
  
  .card-5zs { 
    overflow-x: hidden; 
    box-shadow: 0 9px 20px rgba(0,0,0,.0509803922)!important; 
    border: .5pt solid #e9e9e9; 
    background-color: #fff; 
    border-radius: 8pt; 
    overflow: hidden; 
    -webkit-border-radius: 8pt; 
    -moz-border-radius: 8pt; 
    -ms-border-radius: 8pt; 
    -o-border-radius: 8pt; 
    width: 50%; 
    margin: 0 auto; 
    max-width: 992px; 
    height: auto; 
    padding: 20px 0; 
    display: flex; 
    align-items: flex-end; 
    position: relative; 
    justify-content: center; 
    transition: .3s linear; 
    transform: scale(.8); 
    width: 120%; 
    background-color: #fff; 
    box-shadow: 0 5px 10px rgba(0,0,0,.193); 
    border-radius: 10px; 
    min-width: 500px; 
    margin: 0 auto;
    margin-top: -20% ;
} 


@media only screen and (max-width: 768px) {
    .card-5zs {
        width: 100%;
        margin-top: 0;
    }
    .logo-lfw img {
        max-width: 80px; /* Adjust as needed */
    }
    .team-3br {
        font-size: 1.5rem; /* Adjust as needed */
    }
    .match-aw2 {
        font-size: 0.8rem; /* Adjust as needed */
    }
    .Lig-roy {
        font-size: 0.8rem; /* Adjust as needed */
    }
    .tim-zpw {
        font-size: 0.8rem; /* Adjust as needed */
    }
}

@media only screen and (max-width: 576px) {
    .logo-lfw img {
        /* max-width: 80px;  */
        /* padding-bottom: 100%;Adjust as needed */
    }
    .card-5zs{
        font-size: calc(1.325rem + .9vw) !important;
        margin-left: -10%;
    }
    .team-3br {
        font-size: 1.3rem; /* Adjust as needed */
    }
    .match-aw2 {
        font-size: 0.7rem; /* Adjust as needed */
    }
    .Lig-roy {
        font-size: 0.7rem; /* Adjust as needed */
    }
    .tim-zpw {
        font-size: 0.7rem; /* Adjust as needed */
    }
}
/*   
.box-6ts { 

  } 
   */
  *,:after,:before { 
      box-sizing: border-box;
  } 
  
  img { 
      vertical-align: middle;
     // overflow-y: hidden; 
     overflow-x: hidden; 
     

  } 
  
  .image-lz9  { 
      position: absolute; 
      top: -40px; 
      left: -40px; 
      filter: grayscale(100%); 
      -webkit-filter: grayscale(100%); 
      width: 320px; 
      -o-object-fit: contain; 
      object-fit: contain; 
      z-index: 0; 
      opacity: .3;
  } 
  
  @media (min-width: 768px){ 
    .pb-md-arp { 
      padding-bottom: 3rem!important;
    } 
  
  }     
  
  .logo-lfw  { 
      text-align: center; 
      margin: 0 80px; 
      padding-top: 45px; 
      position: relative;
  } 
  
  .match-rxf  { 
      position: relative; 
      text-align: center; 
      height: 100%; 
      /* padding-top: 50px;  */
      min-width: 35%;
  } 
  
  .logo-lfw img  { 
      -o-object-fit: contain; 
      object-fit: contain; 
      width: 120px; 
      height: 150px;
  } 
  
  h2 { 
      margin-top: 0; 
      margin-bottom: .5rem; 
      font-weight: 500; 
      line-height: 1.2;
  } 
  
  h2 { 
      font-size: calc(1.325rem + .9vw) !important;
  } 
  
  @media (min-width: 1200px){ 
    h2 { 
      font-size: 2rem;
    } 
  }     
  */
  
  .logo-lfw .team-3br  { 
      font-size: 18px; 
      margin-top: 22px; 
      color: #102684; 
      text-transform: uppercase;
  } 
  
  
  
  .match-rxf .match-aw2  { 
      font-size: 18px; 
      color: #757575; 
      margin: 0;
  } 
  
  .match-rxf .Lig-roy  { 
      margin-top: 16px; 
      color: #757575; 
      font-size: 16px; 
      font-weight: 700;
  } 
  
  .mt-six { 
      margin-top: .5rem!important;
  } 
  
  .match-rxf .tim-zpw  { 
      display: flex; 
      justify-content: space-evenly; 
      align-items: center; 
      color: #102684; 
      font-size: 33px; 
      margin-top: 25px;
  } 
  
  button { 
      border-radius: 0;
  } 
  
  button { 
      margin: 0; 
      font-family: inherit; 
      font-size: inherit; 
      line-height: inherit;
  } 
  
  button { 
      text-transform: none;
  } 
  
  button { 
      -webkit-appearance: button;
  } 
  
  .btn-i4v { 
      display: inline-block; 
      font-weight: 400; 
      line-height: 1.5; 
      color: #212529; 
      text-align: center; 
      text-decoration: none; 
      vertical-align: middle; 
      cursor: pointer; 
      -webkit-user-select: none; 
      -moz-user-select: none; 
      -ms-user-select: none; 
      user-select: none; 
      background-color: transparent; 
      border: 1px solid transparent; 
      padding: .375rem .75rem; 
      font-size: 1rem; 
      border-radius: .25rem; 
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  } 
  
  .btn-i4v { 
      box-shadow: none!important; 
      text-transform: uppercase; 
      border-radius: 10px!important; 
      -webkit-border-radius: 10px!important; 
      -moz-border-radius: 10px!important; 
      -ms-border-radius: 10px!important; 
      -o-border-radius: 10px!important; 
      opacity: 1;
  } 
  
  .btn-klv { 
      background-color: #fec709!important; 
      color: #102684!important; 
      transition: .2s linear!important; 
      -webkit-transition: .2s linear!important; 
      -moz-transition: .2s linear!important; 
      -ms-transition: .2s linear!important; 
      -o-transition: .2s linear!important;
  } 
  
  button:not(:disabled) { 
      cursor: pointer;
  } 
  
  .match-rxf button  { 
      width: 100%; 
      margin-top: 10px; 
      font-size: 18px; 
      font-weight: 700;
  } 
  
  .btn-i4v:hover { 
      color: #212529;
  } 
  
  .btn-i4v:hover { 
      box-shadow: 0 8px 25px -8px rgba(0,0,0,.5)!important;
  } 
  
  .btn-klv:hover { 
      box-shadow: 0 8px 25px -8px rgba(254,199,9,.5)!important;
  } 
  
  .match-rxf .ggmxf img  { 
      height: 50px;
  } 
  
  .match-rxf .tim-zpw div  { 
      margin: 0 4px;
  } 
  
  .match-rxf .tim-zpw span  { 
      font-weight: 700; 
      color: #757575; 
      font-size: 17px;
  } 
  .upmatches {
  
    text-align: center;
    width: 90%;
   // max-width: 1200px; /* Adjust as needed */
    color: gray;
    height: 50%;
    margin: 0 auto; /* Center the container */
  margin-top: 5%;
}

.upmatches h1 {
    font-size: calc(1.25rem + .9vw) !important;
    margin-bottom: 3%;
    padding-top: 8%;
}

.upmatches img {
    -o-object-fit: contain; 
    object-fit: contain; 
    width: 150px; /* Increase image size */
    height: 180px; /* Increase image size */
  //  margin-bottom: 10px; /* Add gap between image and text */
}

.matchbox { 
      gap: 10px;background-color: #fff; 
    box-shadow: 0 5px 10px rgba(0,0,0,.193); 
    border-radius: 10px; 
    width: 30%;
    height: 30%;
    background-color: white;
    margin: 10px;
    display: inline-block; /* Change to inline-block to allow multiple boxes in a row */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
}
.matchbox p {
    margin-top: 5% ;
    margin-bottom: 5% ;
}

.matchbox .row2 {
    padding: 20px; /* Adjust spacing */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.matchbox .time {
    font-size: large;
    background-color: rgba(255, 255, 0, 0.758);
    width:70% ; 
    color: #102684;
    padding-top: 2% ;
    padding-bottom: 2% ;
    box-shadow: 0 5px 10px rgba(241, 213, 26, 0.193); 
    border-radius: 5px; 
    margin-left:5%  ;
    margin-top: 10% ;
    margin-right:5%  ; 
}
.row2 img{
    object-fit: contain;
    height: auto ;
  //  margin-top: 10% ;
}
.teamname{
   // padding-left: 6%;
   // padding-right: 6%;
    font-size: 1.5rem; /* Adjust as needed */
    font-weight: 700;
    color: #102684;
  //  margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 12%;
}
@media only screen and (max-width: 1224px) {
    .upmatches {
        width: 90%; /* Adjust container width for better fit on iPads */
    }
    .matchbox {
        width: 45%; /* Set width to 45% for iPads to display two cards in each row */
    }
}

@media only screen and (max-width: 768px) {
    .matchbox {
        width: 100%; /* Change to 100% width for mobile */
    }
}